/*CSS Siempre va a utilizar una propiedad*/
/* Tiene un selector y dentro van propiedades y valores*/

h1 {
    color: red;
}
.asd {
    color:blue;
}
#parrafo {
    color: blue;
    border-width: 100px;
     /*Se le asigna el color mediante el ID de la etiqueta en el código HTML*/
    text-decoration: /*Esta etiqueta permite subrayar el texto*/
}
#parrafoDOS { /*Identificador del segundo párrafo*/
    margin: 100px; /*Colocar margenes a los párrafos
    Se coloca la medida en Pixeles*/
    background-color: #f00;
    color: yellow;
    border-color: black;
    border-width: 50px;
    font-family: libre barcode 39 text;
}

#parrafoTRES{
    margin:100px;
    border-style: solid;
    border-width: 100px;
    border-color: red;
}

.open {
    margin: 100px;
    background-image: url(../CSS-Images/Bateria.jpg);
}

.fooFighters {
    width:500px;
    margin: 100px;
}
